
<section id="summer-collection">
    <div class="container">
        <div class="sc-content">
            <h1>summer collection</h1>
            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It
                has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <a href="#">discover now</a> </div>
        <div class="sc-media">
            <div class="sc-media-bg"> <img src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412556/E-commerce%20landing%20page/summer-collection/cold-fashion-man-women_3x.jpg" alt="sc-image" /> </div>
        </div>
    </div>
</section>
<section id="blog">
    <div class="container">
        <div class="blog-header">
            <h2>latest from blog</h2>
            <p>New fashion trend.</p>
        </div>
        <div class="blog-content">
            <div class="blog-1">
                <div class="blog-1-image-holder"> <img src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412548/E-commerce%20landing%20page/blog/blog-2-img_3x.jpg" alt="image"> </div>
                <div class="blog-1-content">
                    <h4>Lorem Ipsum</h4>
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <p class="button">view post</p>
                </div>
            </div>
            <div class="blog-2">
                <div class="blog-2-image-holder"> <img src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412543/E-commerce%20landing%20page/blog/blog-1-img_3x.jpg" alt="image"> </div>
                <div class="blog-2-content">
                    <h4>Lorem Ipsum</h4>
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <p class="button">view post</p>
                </div>
            </div>
        </div>
    </div>
</section>
