<footer id="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Trendy.com <i>MAKES YOUR SHOPPING EASY </i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt fugit aliquam veritatis unde perferendis asperiores autem eveniet nobis corrupti, aperiam laborum temporibus amet facere ipsa adipisci, assumenda facilis natus nemo?. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum quo dolorem recusandae explicabo quis provident sint, quibusdam architecto magnam magni assumenda, quisquam commodi possimus repellendus aliquam sed accusantium fuga eum!</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="">Mens Wear</a></li>
            <li><a href="">Womans Wear</a></li>
            <li><a href="/">Kids</a></li>
            <li><a href="/">Accessiors</a></li>
            <li><a href="/">jewelary</a></li>
            <li><a href="s/">Unisex Wear</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="">About Us</a></li>
            <li><a href="/">Contact Us</a></li>
            <li><a href="e/">Contribute</a></li>
            <li><a href="/">Privacy Policy</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
            
       <a routerLink="home">Trendy</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>
